services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    restart: unless-stopped

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    environment:
      - MONGO_URI=mongodb://mongodb:27017
      - MONGO_DATABASE=cs50-moodle-bridge
    volumes:
      - ./backend:/app
    depends_on:
      - mongodb
    restart: unless-stopped
    command: >
      uv run uvicorn api.app:app --host 0.0.0.0 --port 8000 --reload --app-dir src
  #
  # frontend:
  #   build: ./frontend
  #   ports:
  #     - "8501:8501"
  #   environment:
  #     BACKEND_URL: http://backend:8000
  #   volumes:
  #     - ./frontend:/app
  #   depends_on:
  #     - backend
  #   restart: unless-stopped

volumes:
  mongodb_data:
