services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    restart: unless-stopped
    command: >
      uvicorn api.app:app --host 0.0.0.0 --port 8000 --reload --app-dir src
  #
  # frontend:
  #   build: ./frontend
  #   ports:
  #     - "8501:8501"
  #   environment:
  #     BACKEND_URL: http://backend:8000
  #   volumes:
  #     - ./frontend:/app
  #   depends_on:
  #     - backend
  #   restart: unless-stopped
